    
    .header{background-color: #313131;
    height:38px;}
    
    .container{width:1140px;margin-left: auto; margin-right: auto; overflow:visible;}
    
    .ul{margin-left:140x;}
    
    div.container ul li{font:normal 14px Roboto; color:white; float:left;
    padding-top: 10px; padding-bottom: 12px; margin-right: 30px;}
   
    .first{float:right;font:normal 14px Roboto; color:white; padding-top: 10px;}
    .first a{padding-left:11px; font:normal 14px Roboto; color:white; vertical-align: 5px;}
    img[src^="img/delivery"]{padding-right: 10px;padding-left: 10px;}
    .first span{vertical-align: 5px;}

<<<<<<< HEAD
    div.container::after{content:""; display:block; clear:both;}
    .container div{width:375px;float:right;font:normal 14px Roboto; color:white;}
    
    .container div img[src^='img/phone']{padding-bottom: 10px; padding-top: 11px; padding-right: 11px;}
    .container div a[href^='http']{vertical-align:15px; font:normal 14px Roboto; color:white; padding-right: 30px;}
    .container div img[src^='img/delivery']{vertical-align:10px;font: 10px; padding-top: 11px; padding-right: 11px;}
    
    span{vertical-align: 15px;}
    .logo{width:1140px;margin-left: auto; margin-right: auto;}
    .logo img[src^='img/LOGO']{margin-top: 12px;float:left}
    .logo div{width:720px; height:50px; border: solid 1px black; margin-left: 150px; margin-top: 20px; font:normal 14px Roboto; padding-left: 5px;}
    .logo div img[src^='img/search-icon']{margin-top: 18px; margin-left:10px; padding-right: 10px;vertical-align: -3px;}
    .logo ul{margin-right: 90px; margin-top: -50px;}
    .logo ul li{float:right;  padding-top: 10px; padding-bottom: 12px; margin-right: 30px;}
    
    .menu{width:1140px; margin-left: auto; margin-right: auto;}
    .menu ul{margin-top: 80px;}
    .menu img[src^='img']{padding-right:10px;}
    .menu ul li{float:left; padding-top: 25px; padding-bottom: 26px; margin-right: 30px;}
    

   
=======
    img[src^="img/LOGO"]{padding-top:10px;margin-right: 10px;}
    .second{float:left; margin-top: 40px;}
    .second ul{float:right;margin-top: 5px; margin-left:15px;}
    .second div{width:839px; height:50px; margin-left:10px;float:right; border:solid 1px black;}
    img[src^="img/search"]{padding: 14px 10px 0px 10px}

   .third{margin-left:30px;float:none; padding-top: 160px;}
   .third ul#menu li{padding: 15px 0px 10px 8px; font: normal 17px Roboto; color: black;}
   .third ul#menu li:not(:last-child){margin-right: 40px;}
   .third ul#menu li img{padding-right:6px; vertical-align: middle;}
   .fourth h1{font:normal 50px Playfair Display; color:#313131;}
   .fourth h2{font:normal 16px Roboto Condensed; color:#343434;}
   .fourth{background: url('img/1785\ 1.jpg'); height:450px; margin-top: 80px;}
   .fourth div.button{height:45px;line-height:45px; width:163px;; margin-left:120px; margin-top: 40px; background-color: white;font:normal 12px Roboto Condensed; font-weight:700; color:#414141;}
    div.fourth h1{margin-left:120px;padding-top: 90px;}
    div.fourth h2{margin-left:120px;margin-top: -25px;}
    .button p{text-align: center; padding-top: 14px;}
    div.catalog h3{font:normal 16px Roboto; color:#414141; margin-top: 20px; margin-left: 15px;}
    div.catalog ul{margin-top: 109px;}
    div.catalog ul li:first-child{margin-top:30px;font:normal 16px Roboto; color:#414141; font-weight: 400; text-align: left;}
    div.catalog ul li h3{font:normal 16px Roboto; color:#414141;font-weight: 500; }
    img[src^="img/image 2.png"]{margin-top:-30px; margin-left:20px}
   
>>>>>>> 00c4e3c93fcf3b90fdb84bfd82e0fd6cd210048e
