    
    .header{background-color: #313131;
    height:38px;}
    
    .container{width:1140px;margin-left: auto; margin-right: auto;}
    
    .ul{margin-left:140x;}
    
    div.container ul li{font:normal 14px Roboto; color:white; float:left;
    padding-top: 10px; padding-bottom: 12px; margin-right: 30px;}

    div.container::after{content:""; display:block; clear:both;}
    .container div{float:right;font:normal 14px Roboto; color:white;}
    
    .container div img[src^='phone']{padding-bottom: 10px; padding-top: 11px; padding-right: 11px;}
    .container div a[href^='http']{font:normal 14px Roboto; color:white;}
    .container div img[src^='delivery']{padding-bottom: 10px; padding-top: 11px; padding-right: 11px;}

    
   