
        .head{background-color: lightblue; 
            width:100%;
            padding: 15px; 
            text-align: center; 
            font:normal 20px Arial; color:rgb(0, 0, 124); 
            margin-right:20px;}
        
        .main{background:  url(../menu.png) left repeat-y,
        url('../ball.gif') repeat-y right;      
        margin-top: -20px;
        padding-bottom: 100px;
        clear:both}

        .menu{width:200px;
            float:left;
            font:normal 18px Arial;}
           
        .headline {font:bold 16px Arial;
            text-align: center;
            padding-left: 10px;}

        [href^="https://"]{color:darkblue;}
       
        .content {text-align: justify;
            margin-left: 210px;
            font:normal 16px Arial;}

        img[src^="foot"]{width: 300px;
            margin: 0px 10px 10px 0px;
            float:left;}

        .text{padding-left: 0px;}
        

        .footer{background-color: lightblue; 
            width:100%;
            padding: 15px; text-align: center; 
            font:normal 20px Arial; color:rgb(0, 0, 124); 
            clear:both;}